{#
SPDX-FileCopyrightText: 2022 UdS AES <https://www.uni-saarland.de/lehrstuhl/frey.html>
SPDX-License-Identifier: CC0-1.0
#}


@prefix dbpedia: <http://dbpedia.org/resource/>.

<file://{{ filepath }}> a dbpedia:Image.
