{
  "@context": {
    "smallThumbnail": {
      "@id": "http://example.org/image#smallThumbnail",
      "@type": "@id"
    }
  },
  "@id": "{{ image_id }}",
  "smallThumbnail": "{{ thumbnail_url }}"
}
