{#
SPDX-FileCopyrightText: 2022 UdS AES <https://www.uni-saarland.de/lehrstuhl/frey.html>
SPDX-License-Identifier: MIT
#}


{
  "@context": {
    "thumbnail": {
      "@id": "http://dbpedia.org/ontology/thumbnail",
      "@type": "@id"
    }
  },
  "@id": "{{ image_id }}",
  "thumbnail": "{{ thumbnail_url }}"
}
