@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

@prefix sh: <http://www.w3.org/ns/shacl#> .
@prefix qudt: <http://qudt.org/schema/qudt/> .
@prefix unit: <http://qudt.org/vocab/unit/> .

@prefix fmi: <https://ontologies.msaas.me/fmi-ontology.ttl#> .
@prefix sms: <https://ontologies.msaas.me/sms-ontology.ttl#> .

@prefix var: <http://localhost:4000/models/6157f34f-f629-484b-b873-f31be22269e1/variables#> .
@prefix : <http://localhost:4000/models/6157f34f-f629-484b-b873-f31be22269e1#>.


<http://localhost:4000/models/6157f34f-f629-484b-b873-f31be22269e1> a sms:Model .
